# Compiled Object files
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
few
few.1
few.html
few.md
test

# editor files
*~
.emacs*
TAGS

# Visual Studio files
*.suo
*.user
*.sdf
*.opensdf
*.vcxproj.filters
Debug
Debug_gtests
Release
Release_gtests

# misc files
akamake
